*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, #cfcfcf, #e2ebf0);
  padding: 10px;
}

.main{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 150px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 50px;
  box-shadow: 0 0 30px #afafaf; 

}

.main h2{
  color: #002765;
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-bottom: 40px;
}

/* input feild */
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 3px groove #000;
  outline-offset: 5px;
  border: none;
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 0 0  10px #5d5d5d;
}

input{
  flex:1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 10px;

}

input::placeholder{
  color: #3c78d8;
}
button{
  border: none;
  outline: none;
  padding: 14px 25px;
  background: #26062f;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 30px;
  margin: 1px;
}

/* Display list */

ul li{
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-block: 10px;
}

/* unchecked item */

ul li::before{
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-image: url(images/unchecked.png) ;
}